<ion-view view-title="Weather">
  <ion-content class="padding">
           <style>
      .box
      {       
          position: absolute;
          left: 43%;
          top: 70px;
      }

          
          </style>
      
      <div class="box">
      <button id="btn_getReview" ng-click="getLocation()">Search</button>
      <div class="weather2"><p class="cityname1">{{cityEnd}}</p>
                    <p>Temperature: {{tempidEnd}}&#8451</p>
                    <p>Wind Speed: {{windspeedEnd}}</p>
                    <p>Sky: {{descEnd}}  <img class="icon" ng-src="http://openweathermap.org/img/w/{{iconEnd}}.png"></p>
          <p>Latitude:{{lat}}</p>
          <p>Longitude:{{lon}}</p>
                </div>
          </div>
  </ion-content>
    
</ion-view>
